<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="/img/logo.gif" /></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/assistance"><i class="material-icons left">phone</i>Assistance</a></li>
            <li><a href="#" class="dropdown-button" href='#' data-activates='dropdown1'><i class="material-icons left">email</i>Nous contacter</a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#">Contact Arthur EZZEDINE</a></li>
                    <li><a href="#" id="tel-contact">04 78 22 40 99</a></li>
                </ul>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/assistance">Assistance</a></li>
            <li><a href="#">Nous contacter</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>